@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
background-color:lightpink;
color:ivory;
max-width: 1200px;
text-align: center;
margin: auto;
}

#hovergif {
    width: 100%;
}

#active {
   position:fixed;
    top: 30%; 
    left: 5%; 
    z-index:2;
    background-color: lightpink;
    opacity: 0;
}

#static {
    position:fixed;
    z-index:1; 
    top: 30%;
    left: 5%; 

}
#active:hover {
    opacity: 100;
}

#static:hover {
    opacity: 0;
}

header {
background-color:mistyrose;
color:mediumvioletred;
width: 30%;
position: fixed;
top: 5%;
left: 5%;
font-family: 'Press Start 2P', cursive;
text-align: center;
}

nav {
    background-color: mistyrose;
    color:palevioletred;
    width: 30%; 
    position: fixed;
    text-align: center;
    top: 60%;
    left: 5%;
}

main{
    background-color: mistyrose;
    color:palevioletred;
    width: 65%;
    margin-left: 500px;
    text-align: center;
}

section{
    background-color: mistyrose;
    color:palevioletred;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    border: 5px palevioletred solid;
    text-align: center;
    width: 75%;
    margin: auto; 
}

section img{
    width: 85%; 
    border: 1px orchid dashed;
    padding: 10px;
    width: 100%; 
    text-align: center;
}

section video{
    width: 85%;
    border: 1px orchid dashed;
    padding: 10px;
    width: 600px; 
    text-align: center;
    }

footer{
    background-color: mistyrose;
    color:palevioletred;
    width: 300px;
    position: fixed;
    text-align: center;
    bottom: 15%;
    left: 5%;
}

#splashgif {
    text-align: center;
    margin-top: 25%;
}