@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

body{
background-color:lightpink;
color:ivory;
max-width: 1200px;
text-align: center;
margin: auto;
}

#hovergif {
    width: 100%;
}

#active {
   position:fixed;
    top: 25%; 
    left: 10%; 
    z-index:2;
    background-color: lightpink;
    opacity: 0;
    margin-bottom: 15%;
    padding-bottom: 15%;
}

#static {
    position:fixed;
    z-index:1; 
    top: 25%;
    left: 10%; 
    margin-bottom: 15%;
    padding-bottom: 15%;
}

#active:hover {
    opacity: 100;
}

#static:hover {
    opacity: 0;
}

header {
background-color:mistyrose;
color:mediumvioletred;
width: 30%;
position: fixed;
top: 5%;
left: 5%;
font-family: 'Fasthand', cursive;
text-align: center;
margin-bottom: 10%;
}

nav {
    background-color: mistyrose;
    color:palevioletred;
    width: 30%; 
    position: fixed;
    text-align: center;
    top: 60%;
    left: 5%;
    font-family: 'Fasthand', cursive;
    margin-bottom: 15%;
    margin-top: 15%;
}

main{
    background-color: mistyrose;
    color:palevioletred;
    width: 65%;
    margin-left: 500px;
    text-align: center;
    background-image: url(../img/wallpaper.jpg);
    background-repeat:repeat;
}

section{
    background-color: mistyrose;
    color: palevioletred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    border: 5px palevioletred solid;
    text-align: center;
    width: 75%;
    margin: auto; 
    margin-bottom: 15%;
}

section img{
    width: 85%; 
    border: 1px palevioletred dashed;
    padding: 10px;
    width: 100%; 
    text-align: center;
}

section video{
    width: 85%;
    border: 1px palevioletred dashed;
    padding: 10px;
    width: 600px; 
    text-align: center;
    }

#splashgif {
    text-align: bottom;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 50%;
    margin-right: 50%;
}

a{
    color:palevioletred;
  }

  a:hover {
    color: hotpink;
  }

  #pigpen {
    background-color: mistyrose;
    color:palevioletred;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 5%;
    width: 30%;
    height: 500px;
    font-family: 'Fasthand', cursive;
    overflow-y: scroll;
  }

 #index{
    background-image: url(../img/wallpaper.jpg);
    background-repeat:repeat;
    background-color:lightpink;
    color:ivory;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    }

    footer {
        background-color:mistyrose;
        color:mediumvioletred;
        width: 30%;
        position: fixed;
        bottom: 5%;
        left: 5%;
        font-family: 'Fasthand', cursive;
        text-align: center;
        margin-bottom: 10%;
        }